.contact-page {
  max-width: 600px;
  padding: 2rem;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 0 15px #00FF43;
}

.contact-page h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.contact-page p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.contact-page ul li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.contact-link {
  color: #00FF43;
  text-decoration: none;
  font-weight: 600;
}

.contact-link:hover,
.contact-link:focus {
  background-color: #00FF43;
  color: #000;
  box-shadow:
    0 0 8px #00FF43,
    0 0 15px #00FF43;
}

.contact-page {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideUp 0.8s ease-out forwards;
  animation-delay: 0.2s; 
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact-container {
  background-image: url('../../assets/background-img.png');
  background-size: 600px auto; 
  background-repeat: no-repeat;
  background-position: left center; 
  background-attachment: fixed;
  background-color: black;
  min-height: 100vh;
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}
